In [6]:
file_name = r"feature/part-00000-5ae21edc-d5a1-44db-bce8-2e655479a231-c000.csv" 

import pandas as pd 

df = pd.read_csv(file_name)
df

,user,day,week_id,role_id,business_unit_id,functional_unit_id,department_id,team_id,is_it_admin,O,...,afterhourfile_exef_n-disk1,afterhourfile_exef_n-pc0,afterhourfile_exef_n-pc1,afterhourfile_exef_n-pc2,afterhourfile_exef_n-pc3,insider,isweekday,isweekend,starttime,endtime
0,1,53,7,22,0,5,4,38,0,36,...,0,0,0,0,0,0,0,1,1266076800,1266163200
1,1,109,15,22,0,5,4,38,0,36,...,0,0,0,0,0,0,0,1,1270915200,1271001600
2,1,140,20,22,0,5,4,38,0,36,...,0,0,0,0,0,0,0,1,1273939200,1274025600
3,1,173,24,22,0,5,4,38,0,36,...,0,0,0,0,0,0,1,0,1276358400,1276444800
4,1,178,25,22,0,5,4,38,0,36,...,0,0,0,0,0,0,0,1,1276963200,1277049600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24751,1000,398,57,30,0,2,12,0,0,21,...,0,0,0,0,0,0,1,0,1296316800,1296403200
24752,1000,404,57,30,0,2,12,0,0,21,...,0,0,0,0,0,0,1,0,1296316800,1296403200
24753,1000,436,62,30,0,2,12,0,0,21,...,0,0,0,0,0,0,0,1,1299340800,1299427200
24754,1000,442,63,30,0,2,12,0,0,21,...,0,0,0,0,0,0,0,1,1299945600,1300032000
24755,1000,496,71,30,0,2,12,0,0,21,...,0,0,0,0,0,0,1,0,1304784000,1304870400