In [1]:
import matplotlib.pyplot as plt
import pandas as pd 
import os 

# file_dir = os.path.abspath(__file__) # py
file_dir = os.getcwd() + "/data" # ipynb

base_dir = os.path.dirname(file_dir) 

def get_df_data():
    # print(os.path.dirname(file_dir))
    dirs = os.listdir(base_dir + "/feature")
    df = None 
    flag = False

    for dir in dirs: 
        if dir[:4] == 'part': 
            df_ = pd.read_csv(base_dir + "/feature/" + dir) 
            if flag == False : df = df_; flag = True 
            else : df = pd.concat([df, df_], axis=0) 
    return df 

df = get_df_data()

In [2]:
# df.apply(lambda x: (x - x.min()) / (x.max() - x.min()) )
df
# df.min().hist()

,user,day,week_id,role_id,business_unit_id,functional_unit_id,department_id,team_id,is_it_admin,O,...,afterhourfile_exef_n-disk1,afterhourfile_exef_n-pc0,afterhourfile_exef_n-pc1,afterhourfile_exef_n-pc2,afterhourfile_exef_n-pc3,insider,isweekday,isweekend,starttime,endtime
0,1,21,3,22,0,5,4,38,0,36,...,0,0,0,0,0,0,0,1,1263657600,1263744000
1,1,57,8,22,0,5,4,38,0,36,...,0,0,0,0,0,0,0,1,1266681600,1266768000
2,1,68,9,22,0,5,4,38,0,36,...,0,0,0,0,0,0,1,0,1267286400,1267372800
3,1,74,10,22,0,5,4,38,0,36,...,0,0,0,0,0,0,0,1,1267891200,1267977600
4,1,88,12,22,0,5,4,38,0,36,...,0,0,0,0,0,0,0,1,1269100800,1269187200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,999,270,38,10,0,1,14,8,0,38,...,0,0,0,0,0,0,0,1,1284825600,1284912000
4963,999,486,69,10,0,1,14,8,0,38,...,0,0,0,0,0,0,0,1,1303574400,1303660800
4964,1000,201,28,30,0,2,12,0,0,21,...,0,0,0,0,0,0,1,0,1278777600,1278864000
4965,1000,320,45,30,0,2,12,0,0,21,...,0,0,0,0,0,0,1,0,1289059200,1289145600
4966,1000,400,57,30,0,2,12,0,0,21,...,0,0,0,0,0,0,0,1,1296316800,1296403200

In [ ]:

# 查看每一周数据中的的异常数
# for i in range(1, 71):
#     df_w2 = df[df['week_id'] == i] 
#     try : 
#         print(df_w2['insider'].value_counts()[1])
#     except: 
#         print(i, "all normal")


# In[ ]:


def generate_data():
    proc = lambda x: x.drop(['user', 'day', 'week_id', 'starttime', 'endtime', 'insider'], axis=1) ##TODO  sessionid

    df = get_df_data()  

    df_w1 = df[df['week_id'] == 1] 
    df_w2 = pd.concat([df[df['week_id'] == 23], df[df['week_id'] == 24], df[df['week_id'] == 25]] , axis=0)

    x_train = proc(df_w1).to_numpy()
    x_test = proc(df_w2).to_numpy()
    y_test = df_w2['insider'].to_numpy()

    return x_train, x_test, y_test   


# In[ ]:

import torch
from torch.utils.data import DataLoader
class oneWeek: 
    def __init__(self, data) -> None:
        super().__init__()
        self.data = torch.tensor(data, dtype=torch.float32) 

    def __len__(self): 
        return len(self.data) 

    def __getitem__(self, idx): 
        return self.data[idx]


# In[ ]:


# get_ipython().system('jupyter nbconvert --to script dataset.ipynb')